*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background-color: rgb(33, 32, 32);
    color: white;
}

.app-container{
    width: fit-content;
    height: fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 2rem 3rem 4rem 3rem;
    border-radius: 8px;
    box-shadow: 0 0 8px 2px rgb(78, 34, 103) ;
}

.app-container h1{
    font-weight: 400;
}

.qr-code-image{
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-label{
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
}

input[type="text"]{
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
}

button{
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.generate-btn{
    background-color: rgb(88, 88, 241);
}
.generate-btn:hover{
    background-color: rgb(61, 61, 226);
}
.generate-btn:disabled{
    background-color: azure;
    cursor: not-allowed;
}

.download-btn{
    background-color: rgba(61, 163, 61, 0.84);
    margin-left: 10px;
}
.download-btn:hover{
    background-color: rgba(51, 137, 51, 0.84);
}


@media screen and (max-width:510px) {
    
    .app-container h1{
        font-weight: 300;
        text-align: center;
    }

    .generate-btn{
        margin-left: 25%;
        margin-bottom: 1rem;
    }

    .download-btn{
        margin-left: 24%;
    }
}
@media screen and (max-width:427px) {
    
    .app-container h1{
        font-weight: 300;
        text-align: center;
    }

    .generate-btn{
        margin-left: 20%;
        margin-bottom: 1rem;
    }

    .download-btn{
        margin-left: 19%;
    }
}
@media screen and (max-width:380px) {
    
    .app-container h1{
        font-weight: 300;
        text-align: center;
    }

    .generate-btn{
        margin-left: 14%;
        margin-bottom: 1rem;
    }

    .download-btn{
        margin-left: 13%;
    }
}
@media screen and (max-width:335px) {
    
    .app-container h1{
        font-weight: 300;
        text-align: center;
    }

    .generate-btn{
        margin-left: 5%;
        margin-bottom: 1rem;
    }

    .download-btn{
        margin-left: 3%;
    }
}